<!-- Login -->

<div class="tm-top-e-box tm-full-width  va-main-next-match1">
  <div class="uk-container uk-container-center">
      <section id="tm-top-e" class="tm-top-e uk-grid" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">

          <div class="uk-width-1-1">
              <div class="uk-panel">
                  <div class="uk-container uk-container-center">
                      <div class="uk-grid uk-grid-collapse">
                          <div class="uk-width-medium-1-2 uk-width-small-1-1 va-single-next-match">
                              <div class="va-main-next-wrap">
                                  <div class="main-next-match-title"><em>Street<span>Coin</span></em>
                                  </div>
                                  <div class="match-list-single">
                                      <div class="match-list-item">
                                          <p>Nam quis purus sed est interdum sagittis sed in leo. Nunc feugiat enim nunc, sit amet placerat erat consectetur in. Cras consequat enim nunc, sit amet venenatis massa volutpat ut. Cras vitae facilisis nulla. </p>
                                          <p>Nulla pharetra lobortis nisl, vitae pretium nunc congue eget. Nunc imperdiet consequat nibh pharetra venenatis. Duis vitae lacinia nibh, et egestas leo. Proin sed mi sit amet dolor rhoncus tristique. Maecenas rhoncus felis vel congue commodo.</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="uk-width-medium-1-2 uk-width-small-1-1 va-list-next-match">
                           
                                 
                          
                              

                          </div>
                         
                      </div>
                  </div>

              </div>
          </div>
      </section>
  </div>
</div>
