<street-menu></street-menu>

<div class="tm-top-a-box tm-full-width tm-box-bg-1 ">
    <div class="uk-container uk-container-center">
        <section id="tm-top-a" class="tm-top-a uk-grid uk-grid-collapse" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">

            <div class="uk-width-1-1 uk-row-first">
                <div class="uk-panel">
                    <div class="uk-cover-background uk-position-relative head-wrap" style="height: 290px; background-image: url('assets/images/head-bg.jpg');">
                        <img class="uk-invisible" src="assets/images/head-bg.jpg" alt="" height="290" width="1920">
                        <div class="uk-position-cover uk-flex uk-flex-center head-title">
                            <h1>Contact</h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


<div class="tm-bottom-a-box  ">
    <div class="uk-container uk-container-center">
        <section id="tm-bottom-a" class="tm-bottom-a uk-grid" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">
            <div class="uk-width-1-1 uk-row-first">
                <div class="uk-panel">
                    <div class="contact-page">
                      <div class="perfil" *ngFor="let p of usuario">
                        <img src="{{p.img}}"><br>
                      <h3>{{p.nome}} {{p.sobrenome}}</h3>
                      <p>{{p.email}}</p>
                      <p>{{p.login}}</p>
                      </div>
                    </div>
                        
                </div>
            </div>
        </section>
    </div>
</div>



<street-menu-responsive></street-menu-responsive>