<div id="offcanvas" class="uk-offcanvas">
    <div class="uk-offcanvas-bar">
        <ul class="uk-nav uk-nav-offcanvas">
            <li class="uk-parent uk-active"><a href="index.html">Home</a>
                <ul class="uk-nav-sub">
                    <li><a class="yellow-scheme" href="../yellow/index.html">Yellow Color Scheme</a>
                    </li>
                    <li><a class="blue-scheme" href="../blue/index.html">Blue Color Scheme</a>
                    </li>
                    <li><a class="red-scheme" href="../red/index.html">Red Color Scheme</a>
                    </li>
                    <li><a href="offline.html">Offline Page</a>
                    </li>
                    <li><a href="404.html">Error Page</a>
                    </li>
                </ul>
            </li>
            <li><a href="about.html">About</a></li>
            <li class="uk-parent"><a href="#">Pages</a>
                <ul class="uk-nav-sub">
                    <li><a href="players.html">Players</a>
                    </li>
                    <li><a href="gallery.html">Gallery</a>
                    </li>
                </ul>
            </li>
            <li class="uk-parent"><a href="match-list.html">Match</a>
                <ul class="uk-nav-sub">
                    <li><a href="results.html">Results</a>
                    </li>
                </ul>
            </li>
            <li><a href="news.html">News</a>
            </li>
            <li><a href="category.html">Shop</a>
            </li>
            <li><a href="contact.html">Contact</a>
            </li>
        </ul>
    </div>
</div>
