<ngb-carousel>
  <ng-template ngbSlide>
    <img src="assets/images/logo.jpg" alt="Random first slide" style="width: 100%; height: 550px;">
    <div class="carousel-caption">
      <h2>This carousel uses customized default values.</h2>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="https://lorempixel.com/900/500?r=5"  alt="Random second slide" style="width: 100%; height: 550px;">
    <div class="carousel-caption">
      <h2>This carousel uses customized default values.</h2>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="https://lorempixel.com/900/500?r=6" alt="Random third slide" style="width: 100%; height: 550px;">
    <div class="carousel-caption">
      <h2>This carousel uses customized default values.</h2>
    </div>
  </ng-template>
</ngb-carousel>
<br>


