        <!-- Slideshow -->
        <div class="container-fluid slideshow slideshow-bg">
          <div class="carousel fade-carousel slide carousel-fade" data-ride="carousel" data-interval="4000" id="bs-carousel">
             <!-- Overlay -->
             <div class="overlay"></div>
             <!-- Wrapper for slides -->
             <div class="carousel carousel-inner">
                <div class="item slides active">
                   <div class="slide-1"></div>
                   <div class="hero">
                      <div>
                         <h1></h1>
                         <h3></h3>
                      </div>
                   </div>
                </div>
             </div>
             <!-- Carousel Buttons Next/Prev -->
             </div>
       </div>
       <!-- END of Slideshow -->