<!-- menu -->
  
<div class="tm-menu-box">
  
    <div style="height: 70px;" class="uk-sticky-placeholder">
        <nav style="margin: 0px;" class="tm-navbar uk-navbar" data-uk-sticky="">
            <div class="uk-container uk-container-center">
                <a class="tm-logo uk-float-left" href="index.html">
                    <img src="assets/images/logo-img.png" alt="logo" title="logo"> <span>Street<em>Coin</em></span>
                </a>

                <ul class="uk-navbar-nav uk-hidden-small">
                        <li><a [routerLink]="['/']">Home</a></li>
                    <li class="uk-parent" data-uk-dropdown="{'preventflip':'y'}" aria-haspopup="true" aria-expanded="false"><a href="#">Equipe</a>
                        <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-width-1">
                            <div class="uk-grid uk-dropdown-grid">
                                <div class="uk-width-1-1">
                                    <ul class="uk-nav uk-nav-navbar">
                                        <li><a [routerLink]="['/plantel']">Meu time</a></li>
                                        <li><a [routerLink]="['/desafios']">Desafios</a></li>
                                        <li><a href="players.html">Torneio</a></li>
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li><a [routerLink]="['/noticias']">Noticias</a></li>
                    <li class="uk-parent" data-uk-dropdown="{'preventflip':'y'}" aria-haspopup="true" aria-expanded="false"><a href="#">Financeiro</a>
                        <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-width-1">
                            <div class="uk-grid uk-dropdown-grid">
                                <div class="uk-width-1-1">
                                    <ul class="uk-nav uk-nav-navbar">
                                        <li><a [routerLink]="['/ajuda']">Ajuda Mutua</a></li>
                                        <li><a [routerLink]="['/saque']">Saque/Depositos</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                   
                    <li class="uk-parent" data-uk-dropdown="{'preventflip':'y'}" aria-haspopup="true" aria-expanded="false"><a href="#">Configurações</a>
                      <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-width-1">
                          <div class="uk-grid uk-dropdown-grid">
                              <div class="uk-width-1-1">
                                  <ul class="uk-nav uk-nav-navbar">
                                      <li><a [routerLink]="['/perfil']">Perfil</a></li>
                                      <li><a href="players.html">Instruções</a></li>
                                      <li><a [routerLink]="['/tickets']">Tickets</a></li>
                                      <li><a href="#" (click)="sair()">Sair</a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </li>

                </ul>
                <a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas=""></a>
            </div>
        </nav>
    </div>

</div>



