<div id="preloader">
  <div id="status">&nbsp;</div>
</div>

<!-- Slideshow -->
<div class="container-fluid slideshow slideshow-bg">
  <div class="carousel fade-carousel slide carousel-fade"  data-interval="6000" id="bs-carousel">
     <!-- Overlay -->
     <div class="overlay"></div>
     <!-- Indicators -->
     <!-- Wrapper for slides -->
     <div class="carousel carousel-inner">
        <div class="item slides active">
           <div class="slide-1"></div>
           <div class="hero">
             <br><br><br><br><br><br><br><br><br><br><br>
             
           <button class="border-button1" onclick="window.location.href='#cadastrar'"> Cadastrar </button>
          <button class="border-button2" onclick="window.location.href='#login'"> Login </button>
        </div>
        </div>
        
        </div>
     </div>
</div>
<!-- END of Slideshow -->


<!-- chat Us -->
<div class="container contact-us">
  <div class="row contact-row">
      <div class = "col-xs-12 col-sm-12 col-md-12 title">
          <p>Chat</p>
          <hr>
       </div>
     <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 contact-info">
        <div class="c_info">
          <div class="hero2">
            <div *ngFor="let mensagem of mensagens" class="chat">{{mensagem.login}} as {{mensagem.data_hora}}: {{mensagem.mensagem}}</div>
            

          </div>
           <section class="c_p">
              <form class="labels-uppercase clearfix"><br><br><br>
                  <input type="text" class="form-control"  name="login" placeholder="Mensagem" required=""><br>
                          <div class="form-group pull-right"  style="margin-top:10px;">
                             <button type="submit" class="btn btn-primary btn-rounded" >Enviar</button>
                           </div>
                 </form>
           </section>
         
           <hr>
        </div>
     </div>
     <div class="col-lg-4 col-md-4 col-sm-4" id="login">
        <div class="hero1">
            <h3 class="title">Login</h3>
            <div style="width: 275px; float: right;" >
            <form class="labels-uppercase clearfix">
                <input type="text" class="form-control"  name="login" placeholder="Nome de usuario/Email" required=""><br>
                 <input type="password" class="form-control"  name="senha" placeholder="Senha" required=""  style="margin-bottom:10px;">
                 <a href="#">Esqueceu a senha?</a>
                           <div class="form-group pull-right"  style="margin-top:10px;">
                           <button type="button" class="btn btn-default" onclick="window.location.href='#cadastrar'">Cadastrar</button>
                           <button type="submit" class="btn btn-primary btn-rounded" >Entrar</button>
                         </div>
               </form>
        </div>
     </div>
  </div>
</div>
  <!-- =======  noticias   -->
  <div class="container blog" id="blogSc">
      <div class="row">
         <div class = "col-xs-12 col-sm-12 col-md-12 title">
            <p>Ultimas Noticias</p>
            <hr>
            <p>Fique por dentro de todas as atualizações do site.<br> 
          </div>
         <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12" *ngFor="let noticia of noticias">
            <img src="assets/images/litecoins.jpg" alt="">
            <section class="blog_info_post" onclick="">
               <h2>{{noticia.titulo}}</h2>
               <h3><i class="fa fa-calendar-check-o" aria-hidden="true"></i> 22 Jul 2017</h3>
        
               <p style="max-width: 300ch; overflow: hidden; white-space: nowrap;">{{noticia.descricao}}</p>

               <button onclick="window.location.href='single_blog.html'"> ler mais </button>
               <a href="blog_posts.html"></a>
            </section>
         </div>
      </div>
   </div>





            <!-- estatisticas US -->
            <div class="container-fluid about-background show_button" id=aboutSc>
                <div class="container about-us">
                   <div class="row">
                      <div class = "col-xs-12 col-sm-12 col-md-12 title">
                          <p>Estatiticas do site</p>
                          <hr>
                       </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 about progressive_bar">
                          <p>Street coin é o site que mais cresce e se tornou uma febre entre os usuarios
                         </p>
                         <h3>Usuarios</h3>
                         <h4>3544</h4>
                         <div class="progress skill-bar ">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">
                            </div>
                         </div>
                         <h3>Litecoins Pagos</h3>
                         <h4>9.96565665</h4>
                         <div class="progress skill-bar">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" ></div>
                         </div>

                         <h3>Dias Online</h3>
                         <h4>100</h4>
                         <div class="progress skill-bar">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" ></div>
                         </div>
                        

                      </div>
                      <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12" id="cadastrar">
                          <div class="hero3">
                            <h3 class="title">Cadastro</h3><br>
                           
                          <input type="text" class="form-control"  name="user" placeholder="Usuario" required=""><br>
                          <input type="text" class="form-control"  name="email" placeholder="Email" required=""><br>
                          <input type="password" class="form-control"  name="senha" placeholder="Senha" required=""  style="margin-bottom:10px;">
                                    <div class="form-group pull-right"  style="margin-top:10px;">
                                    <button type="button" class="btn btn-primary" >Cadastrar</button>
                                
                                  </div>
                                </div>
                      </div>
                   </div>
                </div>
             </div>
             <br>
             <br>
             <!-- END of About us -->