.hero2 {
	overflow: auto;
	height: 250px;
    padding: 30px;
	color: #fff;
	border-radius: 10px;

}


.hero2 .chat {
	color: #1B1B1B;
	padding: 5px 10px;
    margin: 7px;
    display: block;
    background: #fff;
	border-radius: 10px;

}


.texto {
	width: 100%; 
	float: right;
	background: rgba(0, 0, 0, 0.486);
	padding: 50px 30px;
	color: #fff;
}

.texto h3 {
	color: #fff;
}

.texto a {
	color: rgb(7, 206, 0);
	float: right;
}


.texto2 {
	width: 100%; 
	
	padding: 50px 30px;
	color: #fff;
}




