<street-menu></street-menu>




<div class="uk-container uk-container-center">
    <div id="tm-middle" class="tm-middle uk-grid" data-uk-grid-match="" data-uk-grid-margin="">
        <div class="tm-main uk-width-medium-3-4 uk-push-1-4">
            <main id="tm-content" class="tm-content">
                <div class="contentpaneopen">
                   <article *ngFor="let p of dados">
                        <div class="clearfix"></div>
                        <div class="article-slider">
                              <div class="noticia">
                                <h3>{{p.titulo}}</h3>
                                <img src="{{p.img}}">
                                <p>{{p.data}}</p>
                              </div>
                                <div class="article-single-text">
                                    
                                      {{p.descricao}}
                                    
                                </div>  
                        </div>
                    </article>                          
                </div> 
                
                
            </main>
            
        </div>
        <aside class="tm-sidebar-a uk-width-medium-1-4 uk-pull-3-4 uk-row-first">
            <div class="uk-panel categories-sidebar">
                    
                    <div class="uk-panel news-sidebar">
                            <h3 class="uk-panel-title">Noticia</h3>
                            
                        </div>     
            </div>
            
        </aside>

    </div>
</div>


<street-menu-responsive></street-menu-responsive>