<street-menu></street-menu>


<div class="tm-top-a-box tm-full-width tm-box-bg-1 ">
  <div class="uk-container uk-container-center">
      <section id="tm-top-a" class="tm-top-a uk-grid uk-grid-collapse" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">
          <div class="uk-width-1-1 uk-row-first">
              <div class="uk-panel">
                  <div class="uk-cover-background uk-position-relative head-wrap" style="height: 290px; background-image: url('/assets/images/head-bg.jpg');">
                      <img class="uk-invisible" src="assets/images/head-bg.jpg" alt="" height="290" width="1920">
                      <div class="uk-position-cover uk-flex uk-flex-center head-title">
                          <h1>
                              Meu time
                          </h1>
                      </div>
                  </div>
              </div>
          </div>
      </section>
  </div>
</div>

<br><br>


<div class="uk-container uk-container-center">
  <div id="tm-middle" class="tm-middle uk-grid" data-uk-grid-match="" data-uk-grid-margin="">
      <div class="tm-main uk-width-medium-1-1 uk-row-first">
          <main id="tm-content" class="tm-content">

              <div class="uk-container uk-container-center tt-gallery-top">
                  <div class="uk-grid" data-uk-grid-match="">
                      <div class="uk-width-medium-3-10 uk-width-small-1-1 title">Dados da equipe</div>
                      <div class="uk-width-medium-7-10 uk-width-small-1-1 text"><br>Aenean aliquam, dolor eu lacinia pellentesque, dui arcu condimentum nisl, quis sollicitudin mi lorem quis leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis sapien a ante rutrum pulvinar quis ac tellus. Proin facilisis dui at mollis tincidunt. Sed dignissim orci non arcu luctus pretium. Donec at ex aliquet, porttitor lacus eget, ullamcorper quam. Integer pellentesque egestas arcu, nec molestie leo sollicitudin et<br></div>
                  </div>
              </div>
<!-- escalação-->
<div class="list-players-wrapper">
  <div class="uk-sticky-placeholder">
      <div class="button-group filter-button-group" data-uk-sticky="{top:70, boundary: true}">
          <div class="uk-container uk-container-center">
              <div class="label-menu">Escalação</div>
          </div>
      </div>
  </div>
  <div class="list-players-wrap" id="boundary">
      <div class="uk-container uk-container-center alt">
        <div class="content">
            <div class="plantel" style="background-image: url('/assets/images/cards/recordista.png');" *ngFor="let card of escalacao">
                <img src="assets/images/cards/jogadores/{{card.id}}.png">
                {{card.defesa}}<br>
                {{card.ataque}}<br>
                {{card.resistencia}}<br>
                <div class="info">
                {{card.nome}}<br>
                {{card.valor}}
            </div>
            </div>
          </div>
  </div>
</div>
</div>

<!-- plantel -->
              <div class="list-players-wrapper">
                  <div class="uk-sticky-placeholder">
                      <div class="button-group filter-button-group" data-uk-sticky="{top:70, boundary: true}">
                          <div class="uk-container uk-container-center">
                              <div class="label-menu">Plantel</div>
                          </div>
                      </div>
                  </div>
                  <div class="list-players-wrap" id="boundary">
                      
                   
                        <div class="content">
                            <br>
                                <button class="btn-lg btn-success" (click)="openModal(modalPesquisarJogadores)">Comprar</button><br>
                                <div class="plantel" style="background-image: url('/assets/images/cards/recordista.png');" *ngFor="let card of plantel">
                                    <img src="assets/images/cards/jogadores/{{card.id}}.png">
                             
                                    DEF: {{card.defesa}}<br>
                                    ATK: {{card.ataque}}<br>
                                    RES: {{card.resistencia}}<br>
                                    <div class="posicao">{{card.posicao}}</div>
                               
                                    <div class="info">
                                    {{card.nome}}<br>
                                    LTC: <font color="red">{{card.valor}}</font><br>
                                    <button class="btn btn-danger" (click)="vender(card)">Vender</button>
                                </div>
                                </div>
                            
                          </div>
                      </div>
                  </div>
              

 
          </main>
      </div>
  </div>
</div>




<street-menu-responsive></street-menu-responsive>







            <!-- rpesquisa jogador -->
            <ng-template #modalPesquisarJogadores let-c="close" let-d="dismiss">
                <div class="modal-header">
                        <h2 class="modal-title">Pesquisar Jogador</h2>
                        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">X</button>
          
                      </div>
                      <div class="list-players-wrap" style="margin: 0 auto;">
                      <div class="content">
                          <h5 style="color:red;">{{mensagemError}}</h5>
                        <div class="card" style="background-image: url('/assets/images/cards/lendario.png');" *ngFor="let card of cards">
                            <img src="assets/images/cards/jogadores/{{card.id}}.png">
                            DEF: {{card.defesa}}<br>
                            ATK: {{card.ataque}}<br>
                            RES: {{card.resistencia}}<br>
                            <div class="posicao">{{card.posicao}}</div>
                            <div class="info">
                            {{card.nome}}<br>
                            LTC: <font color="green">{{card.valor}}</font><br>
                            <button class="btn btn-success" (click)="comprar(card)">Comprar</button>
                        </div>
                        </div>
                      </div>
                    </div>

                     
                        
    
    
    
          </ng-template>