<street-menu></street-menu>





<div class="uk-container uk-container-center">
  <div id="tm-middle" class="tm-middle uk-grid" data-uk-grid-match="" data-uk-grid-margin="">
      <div class="tm-main uk-width-medium-1-1 uk-row-first">
          <main id="tm-content" class="tm-content">
                <br>
                <div class="list-players-wrapper">
                        <div class="uk-sticky-placeholder">
                            <div class="button-group filter-button-group" data-uk-sticky="{top:70, boundary: true}">
                                <div class="uk-container uk-container-center">
                                    <div class="label-menu">Dados da equipe</div>
                                </div>
                            </div>
                        </div>
                        <div class="list-players-wrap" id="boundary">
                            <div class="uk-container uk-container-center alt">
                              <div class="row" style="min-height: 150px;">
                                  <div *ngFor="let info of informacoesTime" class="col-md-4" style="margin-top: 10px;">
                                    <h4>Força da equipe titular</h4>
                                      Defesa: {{info.defesa_maxima }}<br>
                                      Ataque: {{info.atk_maximo }}<br>
                                      Resistência: {{info.resistencia_maxima}}<br>
                                  </div>
                                  <div *ngFor="let info of informacoesTime" class="col-md-4" style="margin-top: 10px;">
                                        <h4>Bonus do plantel</h4>
                                          Defesa: {{info.defesa_maxima}}<br>
                                          Ataque: {{info.atk_maximo}}<br>
                                          Resistência: {{info.resistencia_maxima}}<br>
                                </div>
                                <div *ngFor="let info of informacoesTime" class="col-md-4" style="margin-top: 10px;">
                                        <h4>Bonus do treinamento</h4>
                                          Defesa: {{info.defesa_maxima}}<br>
                                          Ataque: {{info.atk_maximo}}<br>
                                          Resistência: {{info.resistencia_maxima}}<br>
                                    </div>

                                    <div *ngFor="let info of informacoesTime" class="col-md-4" style="margin-top: 10px;">
                                            <h3>Força total da equipe</h3>
                                              Defesa: {{info.defesa_maxima}}<br>
                                              Ataque: {{info.atk_maximo}}<br>
                                              Resistência: {{info.resistencia_maxima}}<br>
                                    </div>

                                    <div *ngFor="let info of time" class="col-md-4" style="margin-top: 10px;">
                                            <h3>{{info.nome}}</h3>
                                              Saldo: 1.55 LTC<br>
                                    </div>

                                </div>
                                
                        </div>
                      
                      </div>
                      </div>
                      

              
<!-- escalação-->
<div class="list-players-wrapper">
  <div class="uk-sticky-placeholder">
      <div class="button-group filter-button-group" data-uk-sticky="{top:70, boundary: true}">
          <div class="uk-container uk-container-center">
              <div class="label-menu">Escalação</div>
          </div>
      </div>
  </div>
  <div class="list-players-wrap" id="boundary">
      <div class="uk-container uk-container-center alt">
        <div class="content">
            <br>
                <button class="btn-lg btn-primary" (click)="openModal(modalescalacao)">Escalar Equipe</button>
            <div class="plantel" style="background-image: url('/assets/images/cards/recordista.png');" *ngFor="let card of escalacao">
                <img src="assets/images/cards/jogadores/{{card.id}}.png">
                {{card.defesa}}<br>
                {{card.ataque}}<br>
                {{card.resistencia}}<br>
                <div class="info">
                {{card.nome}}<br>
                {{card.valor}}
            </div>
            </div>
          </div>
          
  </div>

</div>
</div>

<!-- plantel -->
              <div class="list-players-wrapper">
                  <div class="uk-sticky-placeholder">
                      <div class="button-group filter-button-group" data-uk-sticky="{top:70, boundary: true}">
                          <div class="uk-container uk-container-center">
                              <div class="label-menu">Plantel</div>
                          </div>
                      </div>
                  </div>
                  <div class="list-players-wrap" id="boundary">
                      
                   
                        <div class="content">
                            <br>
                                <button *ngIf="plantel.length<22" class="btn-lg btn-success" (click)="openModal(modalPesquisarJogadores)">Comprar</button><br>
                                <div  *ngIf="plantel.length>=22">Time Completo</div>
                                <div class="plantel" style="background-image: url('/assets/images/cards/recordista.png');" *ngFor="let card of plantel">
                                    <img src="assets/images/cards/jogadores/{{card.id}}.png">
                             
                                    DEF: {{card.defesa}}<br>
                                    ATK: {{card.ataque}}<br>
                                    RES: {{card.resistencia}}<br>
                                    <div class="posicao" *ngIf="card.posicao==1">Goleiro</div>
                                    <div class="posicao" *ngIf="card.posicao==2">Zagueiro</div>
                                    <div class="posicao" *ngIf="card.posicao==3">Lateral</div>
                                    <div class="posicao" *ngIf="card.posicao==4">Volante</div>
                                    <div class="posicao" *ngIf="card.posicao==5">Meio Campo</div>
                                    <div class="posicao" *ngIf="card.posicao==6">Atacante</div>
                                   
                                    <div class="info">
                                    {{card.nome}}<br>
                                    LTC: <font color="red">{{card.valor}}</font><br>
                                    <button class="btn btn-danger" (click)="openModalVenda(modalVenda, card)">Vender</button>
                                </div>
                                </div>
                            
                          </div>
                      </div>
                  </div>
              

 
          </main>
      </div>
  </div>
</div>




<street-menu-responsive></street-menu-responsive>







            <!-- rpesquisa jogador -->
            <ng-template #modalPesquisarJogadores let-c="close" let-d="dismiss">
                <div class="modal-header">
                        <h2 class="modal-title">Pesquisar Jogador</h2>
                        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">X</button>
          
                      </div>
                      <div class="list-players-wrap" style="margin: 0 auto;">
                      <div class="content">
                          <h5 style="color:red;">{{mensagemError}}</h5>
                        <div class="card" style="background-image: url('/assets/images/cards/lendario.png');" *ngFor="let card of cards">
                            <img src="assets/images/cards/jogadores/{{card.id}}.png">
                            DEF: {{card.defesa}}<br>
                            ATK: {{card.ataque}}<br>
                            RES: {{card.resistencia}}<br>
                            <div class="posicao" *ngIf="card.posicao==1">Goleiro</div>
                            <div class="posicao" *ngIf="card.posicao==2">Zagueiro</div>
                            <div class="posicao" *ngIf="card.posicao==3">Lateral</div>
                            <div class="posicao" *ngIf="card.posicao==4">Volante</div>
                            <div class="posicao" *ngIf="card.posicao==5">Meio Campo</div>
                            <div class="posicao" *ngIf="card.posicao==6">Atacante</div>
                            <div class="info">
                            {{card.nome}}<br>
                            LTC: <font color="green">{{card.valor}}</font><br>
                            <button class="btn btn-success" (click)="comprar(card)">Comprar</button>
                        </div>
                        </div>
                      </div>
                    </div>
    
          </ng-template>



                      <!-- escalar jogador -->
                      <ng-template #modalescalacao let-c="close" let-d="dismiss">
                            <div class="modal-header">
                                    <h2 class="modal-title">Plantel</h2>
                                    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">X</button>
                      
                                  </div>
                                  <div class="list-players-wrap" style="margin: 0 auto;">
                                  <div class="content">
                                      <h5 style="color:red;">{{mensagemError}}</h5>
                                    <div class="plantel" style="background-image: url('/assets/images/cards/supremo.png');" *ngFor="let card of plantel">
                                        <img src="assets/images/cards/jogadores/{{card.id}}.png">
                                        DEF: {{card.defesa}}<br>
                                        ATK: {{card.ataque}}<br>
                                        RES: {{card.resistencia}}<br>
                                        <div class="posicao" *ngIf="card.posicao==1">Goleiro</div>
                                        <div class="posicao" *ngIf="card.posicao==2">Zagueiro</div>
                                        <div class="posicao" *ngIf="card.posicao==3">Lateral</div>
                                        <div class="posicao" *ngIf="card.posicao==4">Volante</div>
                                        <div class="posicao" *ngIf="card.posicao==5">Meio Campo</div>
                                        <div class="posicao" *ngIf="card.posicao==6">Atacante</div>
                                        <div class="info">
                                        {{card.nome}}<br>
                                        <button class="btn btn-success" (click)="comprar(card)">Escalar</button>
                                    </div>
                                    </div>
                                  </div>
                                </div>
                
                      </ng-template>
            




          <ng-template #modalVenda let-c="close" let-d="dismiss">
            <div class="modal-header">
                    <h2 class="modal-title">Vender Jogador</h2>
      
                  </div>
                  <div class="info" style="text-align: center;">
                      <h3>Deseja realmente vender o jogador {{venda.nome}}?</h3>
                  </div>

                 
            <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Cancelar</button>
                    <button type="button" class="btn btn-danger" (click)="vender(venda); c('Close click')">Vender</button>
            </div>



      </ng-template>